<div class="topbar">
  <div class="container">
      <div class="vertical-center">
        <%= link_to 'PetsList', root_path %> > adoptions
      </div> 
  </div>
</div>
<div class="container">
    <p>This is the Adoptions page.
    </p>
</div>