<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'Petslist', root_path %> > adoption resources
    </div>
  </div>
</div>

  <div class="container">
    <p>This is the Adoptions page.</p><br>
    <p>More info will go here...........</p>
</div> 