<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'PetsList', root_path %> > help
    </div>  
  </div>
</div>
<div class="container">
    <p>This is the Help page. Blah blah blah.
    </p>
</div>