<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'PetsList', root_path %> > about puppy mills
    </div>   
  </div>
</div>
<div class="container">
    <p>This is the Puppy Mills Information and Reporting page.
    </p>
</div>