<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'PetsList', root_path %> > terms
    </div> 
  </div>
</div>
<div class="container">
    <p>This is the Terms of Use page. Blah blah blah.
    </p>
</div>